adafruit-blinka==1.2.4
adafruit-circuitpython-74hc595==1.0.2
adafruit-circuitpython-bme280==2.2.2
adafruit-circuitpython-busdevice==2.2.9
adafruit-circuitpython-charlcd==3.1.2
adafruit-circuitpython-mcp230xx==1.2.0
boto3==1.9.108
elasticsearch==6.3.1
RPi.GPIO==0.6.5
